  name: build wheels

  on:
    push:
      branches: [main]
      tags: ['v*']

  jobs:
    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]

        steps:
        - uses: actions/checkout@v5

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.11"

        - name: Install Boost headers
          if: runner.os == 'Linux'
          run: sudo apt-get update && sudo apt-get install -y libboost-graph-dev

        - name: Build wheels
          uses: pypa/cibuildwheel@v3.2.0
          env:
            CMAKE_ARGS: "-DGRAPH_SEGMENT_VENDOR_BOOST=OFF"

        - name: Build sdist
          run: python -m build --sdist

        - uses: actions/upload-artifact@v4
          with:
            name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
            path: |
              ./wheelhouse/*.whl
              ./dist/*.tar.gz

    publish_pypi:
        name: Publish to PyPI
        needs: build_wheels
        runs-on: ubuntu-latest
        if: startsWith(github.ref, 'refs/tags/v')
        steps:
            - uses: actions/download-artifact@v4
              with:
                name: cibw-wheels-*
                path: dist
                merge-multiple: true

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                user: __token__
                password: ${{ secrets.PYPI_API_TOKEN }}
